img {
    margin:0px;
    padding: 0px;
    border: 0px;
    width:100%;
}

.flrow {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%
}

.box{
    display: block;
}

div {
    margin: 0px;
    padding: 0px;
    border: 0px:
    text-align: justify;
    line-height: 0;
    clear: both;
    display: block;
}

* { 
    margin: 0;
    padding: 0;
}


body {
    margin:auto;
    width: 98%;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 0px;
    height: 0px;
    content: "";
    line-height: 0;
   /* display: inline-block; */
}

@media (min-aspect-ratio: 100/98) {
    body {
        width: 100vh;
    }
}
