.one, .two, .three .four{
    width: 100%;
    line-height: 0;

}

.one img{
    width: 100%;
}

.two img{
    width: 50%;
}

.three img{
    width: 33.3%
}

.four img{
    width: 25%
}

img {
    margin:0px;
    padding: 0px;
    border: 0px;
    display: block;
    float: left;
}

div {
    margin: 0px;
    padding: 0px;
    border: 0px:
    text-align: justify;
    line-height: 0;
    clear: both;
}

* { 
    margin: 0;
    padding: 0;
}


body {
    margin:0px;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 0px;
    height: 0px;
    content: "";
    line-height: 0;
   /* display: inline-block; */
}